@model object

@{
  ViewBag.Title = "title";
  Layout = "_Layout";
}

<h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">About</span>
        <span class="site-heading-lower">The City of Johannesburg</span>
  </h1>
<section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../img/products-01.jpg" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Our Mission, Our Vision</span>
                <span class="section-heading-lower">For The City of Johannesburg</span>
              </h2>
              <p>We shall foster citizen centric ethos through service excellence.  The department through its governance model shall ensure a well-governed, managed and developed City, with enhanced levels of accountability and citizen participation at local governance level.</p>
              <p class="mb-0">To contribute to the City's motto of "Service with Pride" by being responsive to the needs of the community; through regional co-ordination, integration, monitoring and enforcement of service delivery standards at grass-roots level within communities thereby ensuring a clean, green, healthy and safe urban environment.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>