@{
    ViewData["Title"] = "Home Page";
}


<!--Heading of Home Page-->
<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Welcome To</span>
    <span class="site-heading-lower">The City of Johannesburg</span>
</h1>

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/intro.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">City of Johannesburg</span>
                    <span class="section-heading-lower">a Goverment of Local Unity</span>
                </h2>
                <p class="mb-3">
                    For Women’s Month, a series of online posts were launched to profile outstanding women who left their mark on Johannesburg.
                    “Our online Woman of the Week series captured stories of these great women. The blue heritage plaques give a mark of recognition
                    to amazing women who continue to inspire,” said Cllr Margaret Arnolds.
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" href="https://www.joburg.org.za/media_/Newsroom/Pages/2020%20News%20Articles/August%202020/Women-of-strength-bring-down-curtain-on-City-of-Joburg%E2%80%99s-celebrations.aspx">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Our Message</span>
                        <span class="section-heading-lower">To You</span>
                    </h2>
                    <p class="mb-0">A Notice is hereby given in terms of section 53 (1) (c) (ii) and (3)
                                    (b) of the Local Government: Municipal Finance Management Act,
                                    2003 (Act No 56 OF 2003) read together with regulation 19 of the
                                    Municipal Budget and Reporting Regulations and MFMA Circular 13
                                    that the Executive Mayor of the City of Johannesburg has approved
                                    the 2020/21 Service Delivery and Budget Implementation Plan (SDBIP)
                                    on the 24th July of 2020. Subsequent to the approval by the Executive
                                    Mayor, Council noted the Final 2020/21 Service Delivery and Budget
                                    Implementation Plan on the 29th of July 2020.</p>
                </div>
            </div>
        </div>
    </div>
</section>