@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">City Services</span>
        <span class="site-heading-lower">City of Johannesburg</span>
</h1>

<section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper">City of Johannesburg</span>
                <span class="section-heading-lower">Making Life Easy</span>
              </h2>
              <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                <li class="list-unstyled-item list-hours-item d-flex">
                  E-Services
                  <span class="ml-auto">
                    <div class="intro-button mx-auto">
                      <a class="btn btn-primary btn-m" href="https://eservices.joburg.org.za/">Read More</a>
                    </div>
                  </span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Expanded Social Package (ESP)
                  <span class="ml-auto">
                    <div class="intro-button mx-auto">
                      <a class="btn btn-primary btn-m" href="https://www.joburg.org.za/services_/Pages/City%20Services/Rebates/Expanded-Social-Package-Rebates.aspx">Read More</a>
                    </div>
                  </span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  2020/21 Tariffs Schedule
                  <span class="ml-auto">
                    <div class="intro-button mx-auto">
                      <a class="btn btn-primary btn-m" href="https://www.joburg.org.za/documents_/Documents/TARIFFS/2020-21%20Tariffs/Tariffs-Schedule2020-21.pdf">Read More</a>
                    </div>
                  </span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Delayed of July Statement
                  <span class="ml-auto">
                    <div class="intro-button mx-auto">
                      <a class="btn btn-primary btn-m" href="https://www.joburg.org.za/services_/Documents/COVID19%20Group%20Finance/Delayed%20July%20Statements%20Final.pdf">Read More</a>
                    </div>
                  </span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Covid-19 Lockdown Level 3 Work Readiness
                  <span class="ml-auto">
                    <div class="intro-button mx-auto">
                      <a class="btn btn-primary btn-m" href="https://www.joburg.org.za/services_/Documents/COVID19%20Group%20Finance/Lockdown%20-%20Work%20Readiness%20External%20Version.pdf">Read More</a>
                    </div>
                  </span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Customer Service Centres operating hours
                  <span class="ml-auto">
                    <div class="intro-button mx-auto">
                      <a class="btn btn-primary btn-m" href="https://www.joburg.org.za/services_/Documents/COVID19%20Group%20Finance/OPERATING%20HOURS%20FOR%20REGIONS1.pdf">Read More</a>
                    </div>
                  </span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Alternative Ways to Reach Us
                  <span class="ml-auto">
                    <div class="intro-button mx-auto">
                      <a class="btn btn-primary btn-m" href="https://www.joburg.org.za/Documents/2020%20Notices/March/CoronaVirus%20-%20Glen.pdf">Read More</a>
                    </div>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../img/about.jpg" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">City of Johannesburg</span>
                  <span class="section-heading-lower">E-Services</span>
                </h2>
                <p>Welcome to CoJ e-Services. e-Services is an initiative from the City of 
                  Johannesburg to make your life easier by providing online access to a range 
                  of services for both the individual and business in Gauteng, South Africa. 
                  Our current e-Services include the following:
                </p>
                <p class="mb-0">
                  <ul>
                    <li>Register your email address and receive your rates, Water and lights invoices online</li>
                    <li>View the progress of your building plans online</li>
                    <li>Fill in your online valuation form to assist the City in evaluating your property correctly</li>
                    <li>Access our Online Maps of Johannesburg</li>
                  </ul>
                  So register or login now so we can make your life easier!<br>
                  If you have any queries, please don’t hesitate to contact Joburg’s Call Centre on 0860(JOBURG) or 0860 56 28 74
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
